{% extends '_base.html' %}

{% load static %}

{% block title %}

{% endblock %}

{% block content %}
    <section class="container">
        <div class="page-container">
            <div class="page-content">
                <div class="card">
                    <div class="card-header pt-0">
                        <h3 class="card-title mb-4">{{ article.title }}</h3>
                        <div class="blog-media mb-4">
                            <img src="{{ article.image.url }}" alt="" class="w-100">
                            <a href="#" class="badge badge-primary">#{{ article.category.first }}</a>
                        </div>
                        <small class="small text-muted">
                            <span>{{ article.datetime_modified }}</span>
                            <span class="px-2">·</span>
                            <a href="#" class="text-muted">32 Comments</a>
                        </small>
                    </div>
                    <div class="card-body border-top">
                        <p class="my-3">{{ article.description }}</p>
                    </div>

                    <div class="card-footer">
                        <h6 class="mt-5 mb-3 text-center"><a href="#" class="text-dark">Comments 4</a></h6>
                        <hr>
                        {% for comments in article.comment.all %}
                            {% if comments.parent == None %}
                                <ul>
                                    <li>
                                        <div class="author-thumb">
                                            <img src="{% static 'images/comment-author-01.jpg' %}"
                                                 alt="">
                                        </div>
                                        <div class="right-content">
                                            <h4>{{ comments.username }}</h4>
                                            <p>{{ comments.massage }}</p>
                                            <button class="btn btn-primary"
                                                    onclick="set_value({{ comments.id }})"
                                                    type="submit">Reply
                                            </button>
                                        </div>
                                    </li>
                                    {% for replys in comments.reply.all %}
                                        <li class="replied">
                                            <div class="author-thumb">
                                                <img src="{% static 'images/comment-author-02.jpg' %}"
                                                     alt="">
                                            </div>
                                            <div class="right-content">
                                                <h4>{{ replys.username }}</h4>
                                                <p>{{ replys.massage }}</p>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}

                        <h6 class="mt-5 mb-3 text-center"><a href="#" class="text-dark">Write Your Comment</a></h6>
                        <hr>
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-lg-12">
                                    {% if request.user.is_authenticated %}
                                        <fieldset>
                                            <label>
                                                <input id="parent_id" type="hidden" name="parent_id"
                                                       value="">
                                            </label>
                                            <label for="message"></label>
                                            <textarea name="message" rows="6"
                                                      id="message"
                                                      placeholder="Type your comment"
                                                      required=""></textarea>
                                        </fieldset>
                                        </div>
                                        <div class="form-group col-12">
                                            <button class="btn btn-primary btn-block">Post Comment</button>
                                        </div>
                                    {% else %}
                                        <p class="warning">please <a href="{% url 'account_signup' %}">Create
                                            account</a> or
                                            <a href="{% url 'account_login' %}">login</a> in site.</p>
                                        </div>
                                    {% endif %}
                        </form>
                    </div>
                </div>

                <h6 class="mt-5 text-center">Related Posts</h6>
                <hr>
                <div class="row">
                    {% for article in articles %}
                        <div class="col-md-6 col-lg-4">
                            <div class="card mb-5">
                                <div class="card-header p-0">
                                    <div class="blog-media">
                                        <img src="{{ article.image.url }}" alt="" class="w-100">
                                        <a href="#" class="badge badge-primary">#{{ article.category.first }}</a>
                                    </div>
                                </div>
                                <div class="card-body px-0">
                                    <h6 class="card-title mb-2"><a href="{% url 'pages:detail_post' article.id %}"
                                                                   class="text-dark">{{ article.title }}</a>
                                    </h6>
                                    <small class="small text-muted">{{ article.datetime_modified }}
                                        <span class="px-2">-</span>
                                        <a href="#" class="text-muted">34 Comments</a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Sidebar -->
            <div class="page-sidebar">
                <h6 class=" ">Tags</h6>
                {% for catagorys in category %}
                    <a href="#" class="badge badge-primary m-1">#{{ catagorys.title }}</a>
                {% endfor %}
                <div class="ad-card d-flex text-center align-items-center justify-content-center mt-4">
                    <span href="#" class="font-weight-bold">ADS</span>
                </div>
            </div>
        </div>
    </section>

    <div class="instagram-wrapper mt-5">
        <div class="ig-id">
            <a href="javascript:void(0)">Follow @joe_mitchell On Instagram</a>
        </div>
        <a href="javascript:void(0)" class="insta-item">
            <img src="{% static 'imgs/insta-1.jpg' %}" alt="" class="w-100">
            <div class="overlay">
                <span>
                    <i class="ti-heart"></i> 23
                </span>
                <span>
                    <i class="ti-comment"></i> 12
                </span>
            </div>
        </a>
        <a href="javascript:void(0)" class="insta-item">
            <img src="{% static 'imgs/insta-2.jpg' %}" alt="" class="w-100">
            <div class="overlay">
                <span>
                    <i class="ti-heart"></i> 23
                </span>
                <span>
                    <i class="ti-comment"></i> 12
                </span>
            </div>
        </a>
        <a href="javascript:void(0)" class="insta-item">
            <img src="{% static 'imgs/insta-3.jpg' %}" alt="" class="w-100">
            <div class="overlay">
                <span>
                    <i class="ti-heart"></i> 23
                </span>
                <span>
                    <i class="ti-comment"></i> 12
                </span>
            </div>
        </a>
        <a href="javascript:void(0)" class="insta-item">
            <img src="{% static 'imgs/insta-4.jpg' %}" alt="" class="w-100">
            <div class="overlay">
                <span>
                    <i class="ti-heart"></i> 23
                </span>
                <span>
                    <i class="ti-comment"></i> 12
                </span>
            </div>
        </a>
        <a href="javascript:void(0)" class="insta-item">
            <img src="{% static 'imgs/insta-5.jpg' %}" alt="" class="w-100">
            <div class="overlay">
                <span>
                    <i class="ti-heart"></i> 23
                </span>
                <span>
                    <i class="ti-comment"></i> 12
                </span>
            </div>
        </a>
        <a href="javascript:void(0)" class="insta-item">
            <img src="{% static 'imgs/insta-6.jpg' %}" alt="" class="w-100">
            <div class="overlay">
                <span>
                    <i class="ti-heart"></i> 23
                </span>
                <span>
                    <i class="ti-comment"></i> 12
                </span>
            </div>
        </a>
    </div>
    <script>
        function set_value(id) {
            document.getElementById('parent_id').value = id;
        }
    </script>
{% endblock %}