<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include/head.html' %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<!-- page First Navigation -->
{% include 'include/first_navbar.html' %}
<!-- End Of First Navigation -->

<!-- Page Second Navigation -->
{% include 'include/second_navbar.html' %}
<!-- End Of Page Second Navigation -->

<!-- page-header -->
<header class="page-header"></header>
<!-- end of page header -->

{% block content %}

{% endblock %}


<!-- Page Footer -->
<footer class="page-footer">
    {% include 'include/footer.html' %}
</footer>
<!-- End of Page Footer -->


<!-- Scripts -->
{% include 'include/scripts.html' %}
<!-- end Scripts -->

</body>
</html>